@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="border: solid 5px; color: red">Welcome To our Basketball List</h1>
    <p class="accordion-button" style="background-color:red"> <a href="https://localhost:7079/Coaches" </a>  Click Here to Create a Coach</p>
    <p class="accordion-button" style="background-color:red"><a href="https://localhost:7079/Teams" </a>  Click Here to Create a Team</p>
    <p class="accordion-button" style="background-color:red"><a href="https://localhost:7079/Players" </a>  Click Here to Create a Player</p>
    <p class="accordion-button" style="background-color:red"><a href="https://localhost:7079/Positions" </a>  Click Here to Create a Positions</p>
    
</div>
